html, body {
	height: 100%;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	height: 100vh;
	width: 100%;
}

#map-overlay {
	position: absolute;
	left: 1em;
	top: 1em;
	min-width: 20%;
	min-height: 15em;
	padding: 1em;
}

#map-overlay label {
	margin-bottom: 8px;
}

#map-overlay label:last-child {
	margin-bottom: 0;
}

#map-overlay .mdl-switch-red .mdl-switch__ripple-container .mdl-ripple,
#map-overlay .mdl-switch-red.mdl-switch.is-checked .mdl-switch__thumb {
	background: rgb(244,67,54);
}

#map-overlay .mdl-switch-red.mdl-switch.is-checked .mdl-switch__track {
	background: rgba(244,67,54,.5);
}